.App {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: blueviolet;
  height: 100vh;
}
.App-section {
  position: relative;
  max-width: 1445px;
  display: flex;
  padding: 10px;
  align-self: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
  float: center;
  z-index: 3;
}
.App-logo {
  width: 300px;
  height: 300px;
  left: 17px;
  top: 204px;
}
.master-h1 {
  width: 704px;
  height: 240px;
  font-family: "Inter";
  font-weight: 800;
  font-size: 44px;
  line-height: 57px;
  color: #fff;
}
.master-href a {
  text-decoration: none;
  color: #fff;
}
.master-href {
  display: flex;
  gap: 224px;
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100vw;
  height: 100vh;
}

.lines > .line {
  position: relative;
  border: 1px solid #6a468b;
  transform: rotate(-45deg);
}

@media (max-width: 555px) {
  .App-section {
    flex-direction: column;
    text-align: center;
    height: 100vh;
  }
  .master-href {
    text-align: center;
    gap: 170px;
    justify-content: center;
  }
  .App-logo {
    text-align: center;
    width: 180px;
    height: 180px;
  }
  .master-h1 {
    width: 360px;
    text-align: center;
    height: 240px;
    font-weight: 600;
    font-size: 31px;
    line-height: 37px;
  }
}
